.dreams{
    background-color: $main-background;
    padding-bottom: 98px;

    @media screen and (min-width: 736px){
        padding-bottom: 100px;
    }

    @media screen and (min-width: 1248px){
        padding-bottom: 221px;
    }


&__box{
   position: relative;
    z-index: 9;
    
    &::before {
     content: '';
    position: absolute;
    top: 900px;
    left: 0px;
    width: 255px;
    height: 255px;
          border-radius: 323px;
          opacity: 0.6;
          background: $buttom-color;
          filter: blur(100px);
          z-index: -3;
    
          @media screen and (max-width: 375px) {
            width: 100%;
          }
    
          @media screen and (min-width: 736px) {
            top: 950px;
                left: 0;
                width: 399px;
                height: 399px;
                border-radius: 399px;
          }
    
          @media screen and (min-width: 1248px) {
            top: 600px;
                left: 200px;
                width: 414px;
                height: 414px;
                border-radius: 414px;
          }
        }
    


        &::after {
            content: "";
            position: absolute;
            top: 850px;
            right: 0px;
            width: 195px;
            height: 195px;
            background: $dream-gardient;
            opacity: 0.3;
            filter: blur(100px);
            z-index: -3;
            
            @media screen and (min-width: 375px) {
                width: 100%;
            }
    
            @media screen and (min-width: 736px) {
                top: 900px;
                right: 0px;
                width: 304px;
                height: 304px;
                border-radius: 304px;
            }
            
            @media screen and (min-width: 1248px) {
                top: 600px;
                right: 200px;
                width: 316px;
                height: 316px;
                border-radius: 316px;
            }
        }
}


    &__roster{
        @media screen and (min-width: 375px){
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
        
        }
    }
    
    
    &__element:nth-child(1) &__box {
        @media screen and (min-width: 1248px){
          margin-left: 373px;
        }
      }
      &__element:nth-child(2) &__box {
        @media screen and (min-width: 736px) {
          margin-left: 300px;
        }
    
        @media screen and (min-width: 1248px){
          margin-right: 32px;
        }

    }

    &__element:nth-child(1){

        @media screen and (min-width: 1248px){
            transform: translateX(372px);
          }
    }

    &__element:nth-child(2){

        @media screen and (min-width: 1248px){
            transform: translateY(-165px);
           
            position: absolute;
            top: 0;
            left: 32px;
          }
    }


    &__element:nth-child(3){

        @media screen and (min-width: 736px) {
            transform: translateY(200px);
            z-index: -1;
          }

          @media screen and (min-width: 1248px){
            transform: translateY(450px);
            z-index: -1;
            position: absolute;
            left: 372px;
            top: 12px;
          }
    }
     
    
    &__photo{
        width: 335px;
    height: 524px;
    
    
    @media screen and (min-width: 736px){
        width: 704px;
    height: 631px;
    margin-bottom: 8px;
    }
    
    
    @media screen and (min-width: 1248px){
        width: 533px;
    height: 473px;
    
    }
    }
    
    
    &__image{
        width: 335px;
    height: 289px;
    
    
    @media screen and (min-width: 736px){
        width: 308px;
    height: 289px;
    }

    @media screen and (min-width: 1248px){
        
        margin-top: 407px;
        margin-right: 32px;
      
    }
    }
    
    
    &__img{
        width: 260px;
    height: 244px;
    @media screen and (min-width: 1248px){
    margin-top: 42px;
    }
    }
    













    
    &__title{
        color: $text-color;
        font-family: "DM Sans";
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%; /* 39.6px */
        letter-spacing: -1.62px;
        margin-bottom: 64px;
        width: 100%;

        @media screen and (min-width: 736px){
            font-size: 70px;
            letter-spacing: -4.5px;
            padding-left: 64px;
        }

        @media screen and (min-width: 1248px) {
            font-size: 100px;
            letter-spacing: -4.5px;
            padding-left: 217px;
        padding-right: 181px;
        margin-top: 50px;
        }
    }





    &__btn{
        color: $text-color;
        font-family: "DM Sans";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 110%; /* 15.4px */
letter-spacing: -0.63px;
text-align: center;
border-radius: 60px;
border: 1px solid $text-color;
padding: 14px 28px;
background: transparent;

&:hover, &:focus {
    background: transparent;
    color: $buttom-color;
    border: 1px solid  $buttom-color;
}

@media screen and (min-width: 736px){
    font-size: 18px;
    letter-spacing: -0.81px;
    margin-left: 64px;
}


@media screen and (min-width: 1248px){
    margin-left: 217px;
}
    }
}