.footer {
  background: $main-background;
  padding-top: 44px;
  border-top: 1px solid rgba(246, 245, 239, 0.2);

  &__content {
    @media screen and (min-width: 736px) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  &__list {
    margin-top: 40px;
    @media screen and (min-width: 1248px) {
      display: flex;
      flex-direction: row;
      gap: 24px;
      margin-top: 0;
    }

    @media screen and (max-width: 1247px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      margin-top: 0;
    }
  }

  &__item {
    margin-bottom: 14px;
    &:last-child {
      margin-bottom: 40px;
    }
  }

  &__link {
    color: $text-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }

  &__title {
    color: $text-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
  }

  &__box {
    display: flex;
    flex-direction: row;
  }

  &__icon:last-child {
    margin-bottom: 40px;
  }

  &__wraper {
    display: flex;
    gap: 14px;
    margin-top: 16px;

    @media screen and (min-width: 736px) {
      gap: 16px;
    }
  }

  &__wrap {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    @media screen and (min-width: 1248px) {
      margin-top: 132px;
    }

    @media screen and (min-width: 736px) {
      margin-top: 100px;
    }
  }

  &__bucket {
    display: flex;
    gap: 14px;

    @media screen and (min-width: 736px) {
      gap: 32px;
    }
  }

  &__unit {
    color: rgba(246, 245, 239, 0.5);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.36px;
    &:first-child {
      margin-right: 14px;
    }
  }
}
