.header {
  padding: 24px 20px 24px 20px;
  background: $main-background;
  border-bottom: 1px solid rgba(246, 245, 239, 0.2);

  @media screen and (min-width: 768px) {
    padding: 32px 32px 35px 32px;
  }

  &__logo {
    width: 146px;
    height: 10px;
    color: $text-color;

    @media screen and (min-width: 768px) {
      width: 185.866px;
      height: 13.032px;
    }
  }

  &__list {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      gap: 24px;
    }
  }
}
