//  <!--===========================================
//                   M A I N
//   =========================================== -->

.box {
  display: flex;
  flex-direction: row; /* Горизонтально при больших экранах */
  justify-content: center;
  flex-wrap: nowrap; /* Запрещаем перенос при больших экранах */

  @media screen and (max-width: 1280px) {
    flex-wrap: wrap; /* Разрешаем перенос при меньших экранах */
    flex-direction: column; /* Столбцом на мобильных */
    text-align: unset;
  }
}  

.hero {
  background: $main-background;

&__main{
  order: 2;

  @media screen and (max-width: 768px) {
    order: 1;
  }

  @media screen and (max-width: 1280px) {
    order: 1;
  }
}

&__card{
  order: 1;

  @media screen and (max-width: 768px) {
    order: 2;
  }

  @media screen and (max-width: 1280px) {
    order: 2;
  }
}


  &__title {
    width: 332px;
    color: var(--white, #F6F5EF);
font-family: "DM Sans";
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 110%;
letter-spacing: -1.62px;
margin-top: 40px;

@media screen and (min-width: 768px) {
  width: 698px;
font-size: 60px;
font-style: normal;
letter-spacing: -2.7px;
margin-top: 64px;
}

@media screen and (min-width: 1280px) {
  margin-top: 132px;
  width: 500px;
}
  }

  &__span {
    background: var(--linear-green, linear-gradient(92deg, #BEC7C2 41.03%, #A1B5BA 90.31%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: "DM Sans";
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 110%;
letter-spacing: -1.62px;

@media screen and (min-width: 768px) {
  font-size: 60px;
  font-style: italic;
  letter-spacing: -2.7px;
 }
  }

  &__text {
    margin-top: 14px;
    width: 320px;
    color: var(--white, #F6F5EF);
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
    letter-spacing: -0.28px;

    @media screen and (min-width: 768px) {
      margin-top: 16px;
      width: 539px;
      font-size: 16px;
      letter-spacing: -0.32px;
    }
  }

  

  // <!--===========================================
  //                 C A R D   Y A H T
  // =========================================== -->


  &__card {
    margin-top: 64px;
    border-radius: 26px;
    margin-right: 217px;
    width: 363.327px;
    height: 465.105px;
    background: url(../img/bodya-imgs/hero-bg.webp) lightgray -105.437px -66.802px / 258.356% 172.321% no-repeat;


    @media screen and (min-width: 768px) {
      width: 426px;
      height: 598px;
    }
  }

 &__list{
  display: flex;
  margin-top: 27px;
  margin-left: 32px;
  gap: 0
 }

&__item{
  position: relative;
  overflow: hidden;
  margin: 0 -5px;
}


&__item:nth-child(1){
  z-index: 2;
}

&__item:nth-child(2){
  z-index: 1;
}

&__text-img{
  width: 96px;
  color: $main-background;
font-family: "DM Sans";
font-size: 14px;
font-weight: 700;
line-height: 110%; /* 15.4px */
letter-spacing: 0.56px;
text-transform: uppercase;
text-align: center;
margin-top: 13px;
margin-left: 32px;

@media screen and (min-width: 768px) {
  margin-top: 11px;
  }
}

  &__img{
width: 48px;
  height: 48px;

@media screen and (min-width: 768px) {
  width: 56px;
  height: 56px;
  }
}

  &__img-man{
  width: 133px;
  height: 133px;
border-radius: 24px;
margin-left: 305px;
transform: translateY(-78px); 

@media screen and (min-width: 768px) {
  width: 233px;
  height: 233px;
  }
  }

&__img-yaht{
  position: absolute;
  width: 378px;
height: 221px;
  transform: translateY(-140px); 
}
  
&__price{
  display: flex;
  align-items: center;
  margin-top: 50px;
 margin-left: 37px;
 gap: 14px;

 }

 &__price-title{
  color: $main-background;
  font-family: "DM Sans";
  font-size: 48px;
  font-weight: 400;
  line-height: 110%; /* 52.8px */
  letter-spacing: -2.16px;
  text-transform: uppercase;
  margin-top: 37px;

  @media screen and (min-width: 768px) {
    width: 104px;
    height: 46px;
    }
 }

 &__price-text{
  color: $main-background;
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  letter-spacing: -0.63px;
  width: 169px;
  height: 39px;
  margin-top: 37px;

  @media screen and (min-width: 768px) {
    width: 208px;
    height: 36px;
  }
 }

  // --------------------------------------------
  //                   BUTTON STYLE
  // --------------------------------------------

  &__buttons{
    display: flex;
    gap: 10px;
  }

  &__btn {
    margin-top: 32px;
    padding: 14px 28px;
    border: none;
    
    color: var(--white, #F6F5EF);
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; 
    letter-spacing: -0.63px;

    @media screen and (min-width: 768px) {
font-size: 18px;
font-style: normal;
letter-spacing: -0.81px;
    }
  }

  &__btn__primary {
    border-radius: 60px;
    background: var(--light-green, #93ABAE);
    transform: background ;
     transition: 250ms; 
  }

  &__btn__primary:hover{
    background: #88B3B9;
  }

  &__btn__secondary {
    border-radius: 60px;
border: 1px solid var(--white, #F6F5EF);
background-color: transparent;
transform: border, color ;
transition: 250ms;
  }

  &__btn__secondary:hover{
    color: var(--light-green, #93ABAE);
border: 1px solid var(--linear-green, #BEC7C2);
  }


}

