.offers {
  padding-top: 164px;
  padding-bottom: 164px;
  background: $main-background;

  &::before {
    content: '';
    position: absolute;
    top: 230px;
    left: 0px;
    width: 180px;
    height: 323px;
    border-radius: 323px;
    opacity: 0.6;
    background: #93abae;
    filter: blur(100px);
    z-index: -3;

    @media screen and (max-width: 375px) {
      width: 100%;
    }

    @media screen and (min-width: 736px) {
      top: 540px;
      width: 414px;
      height: 414px;
      border-radius: 414px;
      filter: blur(130px);
    }

    @media screen and (min-width: 1248px) {
      top: 200px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    @media screen and (min-width: 736px) {
      gap: 64px;
    }
  }

  &__item:nth-child(3) &__box {
    @media screen and (min-width: 1248px) {
      margin-left: 330px;
    }
  }
  &__item:nth-child(2) &__box {
    @media screen and (min-width: 736px) {
      margin-left: 300px;
    }

    @media screen and (min-width: 1248px) {
      margin-left: 0;
    }
  }

  &__box {
    position: relative;
  }

  &__diving {
    width: 335px;
    height: 335px;
    border-radius: 40px;

    @media screen and (min-width: 1248px) {
      width: 712px;
      height: 632px;
    }

    @media screen and (min-width: 736px) {
      width: 704px;
      height: 632px;
    }
  }

  &__btn {
    padding: 14px 28px;
    border-radius: 60px;
    border: none;
    background: #fff;
    color: black;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.63px;
    position: absolute;
    z-index: 2;
    bottom: 24px;
    left: 24px;

    @media screen and (min-width: 736px) {
      bottom: 32px;
      left: 32px;
    }
  }

  &__fishing {
    width: 335px;
    height: 335px;
    border-radius: 40px;

    @media screen and (min-width: 736px) {
      width: 400px;
      height: 389px;
    }

    @media screen and (min-width: 1248px) {
      width: 440px;
      height: 428px;
      margin-top: 204px;
    }
  }

  &__sunbathing {
    width: 335px;
    height: 335px;
    border-radius: 40px;

    @media screen and (min-width: 736px) {
      width: 380px;
      height: 352px;
    }

    @media screen and (min-width: 1248px) {
      width: 436px;
      height: 352px;
    }
  }
}
