.rent{
    background-color: #11131F;
    padding-top: 80px;
    padding-bottom: 80px;
    background-position: center;
    background-repeat: no-repeat;
     background-size: cover;


    @media screen and (min-width: 768px){
        padding-top: 100px;
        padding-bottom: 100px;
    }
   
    @media screen and (min-width: 1200px){
        padding-top: 164px;
        padding-bottom: 109px;
    }


    &__div{
        display: flex;
        flex-direction: column;
    }


   


    &__title{
        color: var(--white, #F6F5EF); 
font-family: "DM Sans";
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 110%; /* 39.6px */
letter-spacing: -1.62px;
margin-bottom: 16px;



@media screen and (min-width: 768px){
    color: var(--white, #F6F5EF);
font-family: "DM Sans";
font-size: 60px;
font-style: normal;
font-weight: 500;
line-height: 110%; /* 66px */
letter-spacing: -2.7px;
margin-bottom: 32px;
}


@media screen and (min-width: 1200px){
    margin-bottom: 64px;
}
    }


    &__img{
        width: 259px;
height: 187px;
margin-bottom: 40px;


@media screen and (min-width: 768px){
    width: 271px;
height: 187px;
}


@media screen and (min-width: 1200px){
    width: 282px;
height: 191px;
}
    }


&__list{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;


@media screen and (min-width: 768px){
    gap: 28px;
    margin-left: 69px;
}

@media screen and (min-width: 1280px){
    margin-left: 188px;
}
}



    &__input{
        color: $text-color;
        font-family: "DM Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 16.8px */
        letter-spacing: -0.63px;
        width: 335px;
background: transparent;
border: none;
border-bottom: 1px solid $text-color;
outline: none;
padding-bottom: 16px;


@media screen and (min-width: 768px){
    color: $text-color;
font-family: "DM Sans";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 19.2px */
letter-spacing: -0.72px;
width: 364px;
}

@media screen and (min-width: 1200px){
    width: 443px;
}
    }


    &__input::placeholder{
        color: $text-color;
        font-family: "DM Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 16.8px */
        letter-spacing: -0.63px;

@media screen and (min-width: 768px){
    color: $text-color;
font-family: "DM Sans";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 19.2px */
letter-spacing: -0.72px;
}
}


    &__btn{
        color: $text-color;
        font-family: "DM Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%; /* 15.4px */
        letter-spacing: -0.63px;
        border-radius: 60px;
        border: 1px solid $text-color;
        padding: 14px 28px;
        display: flex;
       align-items: center;
        background: transparent;
        margin-top: 24px;


        @media screen and (min-width: 768px){
            font-size: 18px;
            letter-spacing: -0.81px;
            margin-top: 32px;
            margin-left: 69px;
        }

        @media screen and (min-width: 1280px){
            margin-top: 64px;
            margin-left: 188px;
        }
    }


    &__icon{
        margin-left: 16px;
        width: 18px;
height: 8.66px;
    }

    &__modal{
        border-radius: 20px;
        background-color: $ul-color;
    width: 335px;
height: 396px;
padding-top: 14px;
padding-bottom: 40px;
padding-left: 24px;
padding-right: 14px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

@media screen and (min-width: 768px){
    width: 570px;
height: 522px;
padding-top: 32px;
padding-bottom: 64px;
padding-left: 64px;
padding-right: 32px;
}
    }
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
          transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
}

.is-hidden {
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
          transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal{
&__btn{
    background: transparent;
    border: none;
}

&__close{
    width: 20px;
height: 20px;
@media screen and (min-width: 768px){
    width: 24px;
height: 24px;
}
}

&__img{
    width: 287px;
height: 149px;


@media screen and (min-width: 768px){
    width: 338px;
height: 198px;
}
}

    &__title{
        color: $text-color;
font-family: "DM Sans";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 28.8px */
letter-spacing: -1.08px;
margin-top: 24px;
margin-bottom: 14px;

@media screen and (min-width: 768px){
font-size: 32px;
letter-spacing: -1.44px;
margin-top: 21px;
margin-bottom: 16px;
}
    }

    &__text{
        color: $text-color;
font-family: "DM Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 19.6px */
letter-spacing: -0.28px;
width: 287px;

@media screen and (min-width: 768px){
font-size: 16px;
letter-spacing: -0.32px;
width: 442px;
}
    }
}






