.container {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid green;

  @media screen and (min-width: 375px) {
    width: 335px;
  }
  @media screen and (min-width: 736px) {
    width: 736px;
  }
  @media screen and (min-width: 1248px) {
    width: 1248px;
  }
}
