<section class="choose">
    <div class="container">
        <ul class="choose__items">
            <li class="choose__item">
                <picture>
                    <source srcset="./img/bodya-imgs/desktop/arrow-desktop@1x.webp 1x, ./img/bodya-imgs/desktop/arrow-desktop@2x.webp 2x" media="(min-width: 1248px)">
                    <source srcset="./img/bodya-imgs/tablet/arrow-tablet@1x.webp 1x, ./img/bodya-imgs/tablet/arrow-tablet@2x.webp 2x" media="(min-width: 736px)">
                    <source srcset="./img/bodya-imgs/mobile/arrow-mobile@1x.webp 1x, ./img/bodya-imgs/mobile/arrow-mobile@2x.webp 2x" media="(max-width: 735px)">
                    <img src="./img/bodya-imgs/arrow.png" alt="yacht" class="choose__img">
                </picture> 
                <div class="choose__name">
                    <h2 class="choose__title">Arrow</h2>
                    <p class="choose__subtitle">LUXURY YAHTS </p>
                </div>
                <div class="choose__descriptions">
                    <div class="choose__descriptions-bio">
                        <p class="choose__text">LENGTH  </p>
                        <p class="choose__text">BUILDER </p>
                        <p class="choose__text">BUILT  </p>
                        <p class="choose__text">GUESTS </p>
                        <p class="choose__text">PRICE</p>
                    </div>
                    <div class="choose__descriptions-opis">
                        <p class="choose__text">48m(155ft) </p>
                        <p class="choose__text">Admiral</p>
                        <p class="choose__text">2021</p>
                        <p class="choose__text">11 in 5 cabins</p>
                        <p class="choose__text">€33,500,000</p>
                    </div>
                </div>
            </li>
            <li class="choose__item">
                <picture>
                    <source srcset="./img/bodya-imgs/desktop/benetti-desktop@1x.webp 1x, ./img/bodya-imgs/desktop/benetti-desktop@2x.webp 2x" media="(min-width: 1248px)">
                    <source srcset="./img/bodya-imgs/tablet/benetti-tablet@1x.webp 1x, ./img/bodya-imgs/tablet/benetti-tablet@2x.webp 2x" media="(min-width: 736px)">
                    <source srcset="./img/bodya-imgs/mobile/benetti-mobile@1x.webp 1x, ./img/bodya-imgs/mobile/benetti-mobile@2x.webp 2x" media="(max-width: 735px)">
                    <img src="./img/bodya-imgs/benetti.png" alt="yacht" class="choose__img">
                </picture>
                <div class="choose__name">
                    <h2 class="choose__title">BENETTI OASIS 40M...</h2>
                    <p class="choose__subtitle">LUXURY YAHTS </p>
                </div>
                <div class="choose__descriptions">
                    <div class="choose__descriptions-bio">
                        <p class="choose__text">LENGTH  </p>
                        <p class="choose__text">SHIPYARD </p>
                        <p class="choose__text">BUILT </p>
                        <p class="choose__text">GUESTS </p>
                        <p class="choose__text">PRICE</p>
                    </div>
                    <div class="choose__descriptions-opis">
                        <p class="choose__text">41m (133ft)</p>
                        <p class="choose__text">Benetti</p>
                        <p class="choose__text">2025</p>
                        <p class="choose__text">10 in 5 cabins</p>
                        <p class="choose__text">€23,210,000</p>
                    </div>
                </div>
            </li>
            <li class="choose__item">
                <picture>
                    <source srcset="./img/bodya-imgs/desktop/belle-desktop@1x.webp 1x, ./img/bodya-imgs/desktop/belle-desktop@2x.webp 2x" media="(min-width: 1248px)">
                    <source srcset="./img/bodya-imgs/tablet/belle-tablet@1x.webp 1x, ./img/bodya-imgs/tablet/belle-tablet@2x.webp 2x" media="(min-width: 736px)">
                    <source srcset="./img/bodya-imgs/mobile/belle-mobile@1x.webp 1x, ./img/bodya-imgs/mobile/belle-mobile@2x.webp 2x" media="(max-width: 735px)">
                    <img src="./img/bodya-imgs/belle.png" alt="yacht" class="choose__img">
                </picture>
                <div class="choose__name">

                    <h2 class="choose__title">BELLE ANNA</h2>
                    <p class="choose__subtitle">LUXURY YAHTS </p>
                </div>
                <div class="choose__descriptions">
                    <div class="choose__descriptions-bio">
                        <p class="choose__text">LENGTH  </p>
                        <p class="choose__text">SHIPYARD</p>
                        <p class="choose__text">BUILT </p>
                        <p class="choose__text">GUESTS </p>
                        <p class="choose__text">PRICE</p>
                    </div>
                    <div class="choose__descriptions-opis">
                        <p class="choose__text">50m(155ft) </p>
                        <p class="choose__text">ISA</p>
                        <p class="choose__text">2012</p>
                        <p class="choose__text">12 in 6 cabins</p>
                        <p class="choose__text">€21,000,000</p>
                    </div>
                </div>
            </li>
            <li class="choose__item">
                <picture>
                    <source srcset="./img/bodya-imgs/desktop/ellen-desktop@1x.webp 1x, ./img/bodya-imgs/desktop/ellen-desktop@2x.webp 2x" media="(min-width: 1248px)">
                    <source srcset="./img/bodya-imgs/tablet/ellen-tablet@1x.webp 1x, ./img/bodya-imgs/tablet/ellen-tablet@2x.webp 2x" media="(min-width: 736px)">
                    <source srcset="./img/bodya-imgs/mobile/ellen-mobile@1x.webp 1x, ./img/bodya-imgs/mobile/ellen-mobile@2x.webp 2x" media="(max-width: 735px)">
                    <img src="./img/bodya-imgs/ellen.png" alt="yacht" class="choose__img">
                </picture>
                <div class="choose__name">
                    <h2 class="choose__title">Ellen</h2>
                    <p class="choose__subtitle">LUXURY YAHTS </p>
                </div>
                <div class="choose__descriptions">
                    <div class="choose__descriptions-bio">
                        <p class="choose__text">LENGTH  </p>
                        <p class="choose__text">SHIPYARD</p>
                        <p class="choose__text">BUILT </p>
                        <p class="choose__text">GUESTS </p>
                        <p class="choose__text">PRICE</p>
                    </div>
                    <div class="choose__descriptions-opis">
                        <p class="choose__text">40m (132ft)</p>
                        <p class="choose__text">Perini Navi</p>
                        <p class="choose__text">2001 / 2016 (refitted)</p>
                        <p class="choose__text">9 in 4 cabins</p>
                        <p class="choose__text">€9,300,000</p>
                    </div>
                </div>
            </li>
            <li class="choose__item">
                <picture>
                    <source srcset="./img/bodya-imgs/desktop/mirage-desktop@1x.webp 1x, ./img/bodya-imgs/desktop/mirage-desktop@2x.webp 2x" media="(min-width: 1248px)">
                    <source srcset="./img/bodya-imgs/tablet/mirage-tablet@1x.webp 1x, ./img/bodya-imgs/tablet/mirage-tablet@2x.webp 2x" media="(min-width: 736px)">
                    <source srcset="./img/bodya-imgs/mobile/mirage-mobile@1x.webp 1x, ./img/bodya-imgs/mobile/mirage-mobile@2x.webp 2x" media="(max-width: 735px)">
                    <img src="./img/bodya-imgs/mirage.png" alt="yacht" class="choose__img">
                </picture>
                <div class="choose__name">
                    <h2 class="choose__title">MIRAGE 401</h2>
                    <p class="choose__subtitle">LUXURY YAHTS </p>
                </div>
                <div class="choose__descriptions">
                    <div class="choose__descriptions-bio">
                        <p class="choose__text">LENGTH  </p>
                        <p class="choose__text">SHIPYARD</p>
                        <p class="choose__text">BUILT </p>
                        <p class="choose__text">GUESTS </p>
                        <p class="choose__text">PRICE</p>
                    </div>
                    <div class="choose__descriptions-opis">
                        <p class="choose__text">38m (125ft)</p>
                        <p class="choose__text">Gianetti Custom Yachts</p>

                        <p class="choose__text">2024</p>
                        <p class="choose__text">10 in 5 cabins</p>
                        <p class="choose__text">€13,500,000 </p>
                    </div>
                </div>
            </li>
            <li class="choose__item">
                <picture>
                    <source srcset="./img/bodya-imgs/desktop/king-desktop@1x.webp 1x, ./img/bodya-imgs/desktop/king-desktop@2x.webp 2x" media="(min-width: 1248px)">
                    <source srcset="./img/bodya-imgs/tablet/king-tablet@1x.webp 1x, ./img/bodya-imgs/tablet/king-tablet@2x.webp 2x" media="(min-width: 736px)">
                    <source srcset="./img/bodya-imgs/mobile/king-mobile@1x.webp 1x, ./img/bodya-imgs/mobile/king-mobile@2x.webp 2x" media="(max-width: 735px)">
                    <img src="./img/bodya-imgs/king.png" alt="yacht" class="choose__img">
                </picture>
                <div class="choose__name">
                    <h2 class="choose__title">KING</h2>
                    <p class="choose__subtitle">LUXURY YAHTS </p>
                </div>
                <div class="choose__descriptions">
                    <div class="choose__descriptions-bio">
                        <p class="choose__text">LENGTH  </p>
                        <p class="choose__text">SHIPYARD</p>
                        <p class="choose__text">BUILT </p>
                        <p class="choose__text">GUESTS </p>
                        <p class="choose__text">PRICE</p>
                    </div>
                    <div class="choose__descriptions-opis">
                        <p class="choose__text">33m (109ft)</p>
                        <p class="choose__text">Overmarine</p>
                        <p class="choose__text">2004 / 2018 (refitted)</p>
                        <p class="choose__text">9 in 4 cabins</p>
                        <p class="choose__text">€1,850,000</p>
                    </div>
                </div>
            </li>
            <li class="choose__item">
                <picture>
                    <source srcset="./img/bodya-imgs/desktop/salt-desktop@1x.webp 1x, ./img/bodya-imgs/desktop/salt-desktop@2x.webp 2x" media="(min-width: 1248px)">
                    <source srcset="./img/bodya-imgs/tablet/salt-tablet@1x.webp 1x, ./img/bodya-imgs/tablet/salt-tablet@2x.webp 2x" media="(min-width: 736px)">
                    <source srcset="./img/bodya-imgs/mobile/salt-mobile@1x.webp 1x, ./img/bodya-imgs/mobile/salt-mobile@2x.webp 2x" media="(max-width: 735px)">
                    <img src="./img/bodya-imgs/salt.png" alt="yacht" class="yacht__img">
                </picture>
                <div class="choose__name">
                    <h2 class="choose__title">SALT</h2>
                    <p class="choose__subtitle">LUXURY YAHTS </p>
                </div>
                <div class="choose__descriptions">
                    <div class="choose__descriptions-bio">
                        <p class="choose__text">LENGTH  </p>
                        <p class="choose__text">BUILDER </p>
                        <p class="choose__text">BUILT </p>
                        <p class="choose__text">GUESTS </p>
                        <p class="choose__text">PRICE</p>
                    </div>
                    <div class="choose__descriptions-opis">
                        <p class="choose__text">32m (105ft)</p>
                        <p class="choose__text">SanLorenzo</p>
                        <p class="choose__text">2019</p>
                        <p class="choose__text">11 in 5 cabins</p>
                        <p class="choose__text">€7,800,000 </p>
                    </div>
                </div>
            </li>
            <li class="choose__item">
                <picture>
                    <source srcset="./img/bodya-imgs/desktop/storm-desktop@1x.webp 1x, ./img/bodya-imgs/desktop/storm-desktop@2x.webp 2x" media="(min-width: 1248px)">
                    <source srcset="./img/bodya-imgs/tablet/storm-tablet@1x.webp 1x, ./img/bodya-imgs/tablet/storm-tablet@2x.webp 2x" media="(min-width: 736px)">
                    <source srcset="./img/bodya-imgs/mobile/storm-mobile@1x.webp 1x, ./img/bodya-imgs/mobile/storm-mobile@2x.webp 2x" media="(max-width: 735px)">

                    <img src="./img/bodya-imgs/storm.png" alt="yacht" class="choose__img">
                </picture>
                <div class="choose__name">
                    <h2 class="choose__title">STORM</h2>
                    <p class="choose__subtitle">LUXURY YAHTS </p>
                </div>
                <div class="choose__descriptions">
                    <div class="choose__descriptions-bio">
                        <p class="choose__text">LENGTH  </p>
                        <p class="choose__text">SHIPYARD</p>
                        <p class="choose__text">BUILT </p>
                        <p class="choose__text">GUESTS </p>
                        <p class="choose__text">PRICE</p>
                    </div>
                    <div class="choose__descriptions-opis">
                        <p class="choose__text">32m (103ft)</p>
                        <p class="choose__text">Overmarine</p>
                        <p class="choose__text">2005 / 2022 (refitted)</p>
                        <p class="choose__text">9 in 4 cabins</p>
                        <p class="choose__text">€2,900,000 </p>
                    </div>
                </div>
            </li>
            <li class="choose__item">
                <picture>
                    <source srcset="./img/bodya-imgs/desktop/collu-desktop@1x.webp 1x, ./img/bodya-imgs/desktop/collu-desktop@2x.webp 2x" media="(min-width: 1248px)">
                    <source srcset="./img/bodya-imgs/tablet/collu-tablet@1x.webp 1x, ./img/bodya-imgs/tablet/collu-tablet@2x.webp 2x" media="(min-width: 736px)">
                    <source srcset="./img/bodya-imgs/mobile/collu-mobile@1x.webp 1x, ./img/bodya-imgs/mobile/collu-mobile@2x.webp 2x" media="(max-width: 735px)">
                    <img src="./img/bodya-imgs/collu.png" alt="yacht" class="choose__img">
                </picture>
                <div class="choose__name">
                    <h2 class="choose__title">COLLU </h2>
                    <p class="choose__subtitle">LUXURY YAHTS </p>
                </div>
                <div class="choose__descriptions">
                    <div class="choose__descriptions-bio"> 
                        <p class="choose__text">LENGTH  </p>
                        <p class="choose__text">SHIPYARD</p>
                        <p class="choose__text">BUILT  </p>
                        <p class="choose__text">GUESTS </p>
                        <p class="choose__text">PRICE </p>
                    </div>
                    <div class="choose__descriptions-opis">
                        <p class="choose__text">29m (96ft)</p>
                        <p class="choose__text">Ferretti</p>
                        <p class="choose__text">2014</p>
                        <p class="choose__text">10 in 5 cabins</p>
                        <p class="choose__text">$4,300,000</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>