<section class="dreams" data-aos="fade-left">
    <div class="container">
        <div class="dreams__box">
    <ul class="dreams__roster">
        <li class="dreams__element">
            <picture>
                <source srcset="./img/yacht-advent/desktop/yahtyachtsofa-desktop@1x.webp 1x, ./img/yacht-advent/desktop/yahtyachtsofa-desktop@2x.webp 2x" media="(min-width: 1200px)">
                <source srcset="./img/yacht-advent/tablet/yahtyachtsofa-tablet@1x.webp 1x, ./img/yacht-advent/tablet/yahtyachtsofa-tablet@2x.webp 2x" media="(min-width: 768px)">
                <source srcset="./img/yacht-advent/mobile/yahtyachtsofa-mobile@1x.webp 1x, ./img/yacht-advent/mobile/yahtyachtsofa-mobile@2x.webp 2x" media="(max-width: 767px)">
            <img src="./img/yacht-advent/yacht-sofa.png" alt="yacht" class="dreams__photo">
        </picture>
        </li>
        <li class="dreams__element">
            <picture>
                <source srcset="./img/yacht-advent/desktop/yahtyachtinterior-desktop@1x.webp 1x, ./img/yacht-advent/desktop/yahtyachtinterior-desktop@2x.webp 2x" media="(min-width: 1200px)">
                <source srcset="./img/yacht-advent/tablet/yahtyachtinterior-tablet@1x.webp 1x, ./img/yacht-advent/tablet/yahtyachtinterior-tablet@2x.webp 2x" media="(min-width: 768px)">
                <source srcset="./img/yacht-advent/mobile/yahtyachtinterior-mobile@1x.webp 1x, ./img/yacht-advent/mobile/yahtyachtinterior-mobile@2x.webp" media="(max-width: 767px)">

                <source srcset="./img/yacht-advent/mobile/yahtyachtinterior-mobile@1x.webp 1x, ./img/yacht-advent/mobile/yahtyachtinterior-mobile@2x.webp 2x" media="(max-width: 767px)">
            <img src="./img/yacht-advent/yacht-interior.png" alt="yacht" class="dreams__image">
        </picture>
        </li>
        <li class="dreams__element">
            <picture>
                <source srcset="./img/yacht-advent/desktop/yahtyachtsea-desktop@1x.webp 1x, ./img/yacht-advent/desktop/yahtyachtsea-desktop@2x.webp 2x" media="(min-width: 1200px)">
                <source srcset="./img/yacht-advent/tablet/yahtyachtsea-tablet@1x.webp 1x, ./img/yacht-advent/tablet/yahtyachtsea-tablet@2x.webp 2x" media="(min-width: 768px)">
                <source srcset="./img/yacht-advent/mobile/yahtyachtsea-mobile@1x.webp 1x, ./img/yacht-advent/mobile/yahtyachtsea-mobile@2x.webp 2x" media="(max-width: 767px)">
            <img src="./img/yacht-advent/yacht-sea.png" alt="yacht" class="dreams__img">
        </picture>
        </li>
    <li>
    <h2 class="dreams__title">Choose your dream <br> yacht and sail away <br> into the sunset</h2>
    <a href="./rent.html" class="dreams__btn">Yacht rental</a>
</li>
</ul>
</div>
</div>
</section>
