<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <a href="../index.html" class="footer__logo">yacht Adventures</a>
      <ul class="footer__list">
        <li class="footer__item">
          <a href="../index.html" class="footer__link">About</a>
        </li>
        <li class="footer__item">
          <a href="../index.html" class="footer__link">Yachts</a>
        </li>
        <li class="footer__item">
          <a href="../index.html" class="footer__link">Reviews</a>
        </li>
      </ul>
      <ul class="footer__items">
        <li class="footer__li">
          <div class="footer__box">
            <svg class="footer__icon"></svg>
            <svg class="footer__icon"></svg>
            <svg class="footer__icon"></svg>
          </div>
        </li>
      </ul>
    </div>
    <div class="footer__wrap">
      <ul class="footer__bucket">
        <li class="footer__unit">2023. Yacht Adventures</li>
        <li class="footer__unit">Privacy Police</li>
      </ul>
    </div>
  </div>
</footer>
