<header class="header">
  <div class="container">
    <a href="../index.html" class="header__logo">yacht Adventures</a>
    <ul class="header__list">
      <li class="header__item"><a href="../index.html">About</a></li>
      <li class="header__item"><a href="../index.html">Yachts</a></li>
      <li class="header__item"><a href="../index.html">Reviews</a></li>
    </ul>
    <!-- Burger -->
    <button class="header__btn" type="button"></button>
    <div class="menu">
      <button data-modal-header-close class="menu__btn" type="button"></button>
      <a href="../index.html" class="header__logo">yacht Adventures</a>
      <ul class="menu__list">
        <li class="menu__item"><a href="../index.html">About</a></li>
        <li class="menu__item"><a href="../index.html">Yachts</a></li>
        <li class="menu__item"><a href="../index.html">Reviews</a></li>
      </ul>
    </div>
  </div>
</header>
