<header class="header">
  <div class="container">
    <a href="./header.html" class="header__logo">yacht Adventures</a>
    <!-- Burger -->
    <button class="header__btn" type="button"></button>
    <div class="menu">
      <button data-modal-header-close class="menu__btn" type="button"></button>
      <a href="./header.html" class="header__logo">yacht Adventures</a>
      <ul class="menu__list">
        <li class="menu__item">About</li>
        <li class="menu__item">Yachts</li>
        <li class="menu__item">Reviews</li>
      </ul>
    </div>
  </div>
</header>
