<header class="header">
  <div class="container">
    <a href="../index.html" class="header__logo">yacht Adventures</a>
    <ul class="header__list">
      <li class="header__item"><a href="../index.html">About</a></li>
      <li class="header__item"><a href="../index.html">Yachts</a></li>
      <li class="header__item"><a href="../index.html">Reviews</a></li>
    </ul>
    <!-- Burger -->
    <button data-modal-header-open class="header__btn" type="button"></button>
    <div data-header-modal class="menu is-hidden">
      <button data-modal-header-close class="menu__btn" type="button"></button>
      <a href="../index.html" class="header__logo">yacht Adventures</a>
      <ul class="menu__list">
        <li class="menu__item">
          <a href="../index.html" class="menu__link">About</a>
        </li>
        <li class="menu__item">
          <a href="../index.html" class="menu__link">Yachts</a>
        </li>
        <li class="menu__item">
          <a href="../index.html" class="menu__link">Reviews</a>
        </li>
      </ul>
    </div>
  </div>
</header>
