                    <!--===========================================
                                      H E R O
                     =========================================== -->

    <section class="hero">
    <div class="container box">
        <div class="hero__main">
    <h1 class="hero__title">Explore the High Seas with <span class="hero__span">Our Luxury Yacht</span> Rentals</h1>
    <p class="hero__text">Experience the freedom and luxury of yachting on the open seas. Choose from our top-of-the-line yachts and embark on an unforgettable journey surrounded by breathtaking views and state-of-the-art amenities.</p>
    <div class="hero__buttons">
            <button type="button" class="hero__btn hero__btn__primary">Get Started</button>
            <button type="button" class="hero__btn hero__btn__secondary">Explore</button>
    </div>
</div>
                                        <!--===========================================
                                                        C A R D   Y A H T
                                         =========================================== -->
    <div class="hero__card ">   
<ul class="hero__list">
    <li class="hero__item">
        <picture>
            <source srcset="
            ./img/bodya-imgs/desktop/man1-desktop@x1.png, 
            ./img/bodya-imgs/desktop/man1-desktop@x2.png"
            media="(min-width: 1248px)"
            >
            <source srcset="
            ./img/bodya-imgs/tablet/man1-tablet@x1.png, 
            ./img/bodya-imgs/tablet/man1-tablet@x2.png"
            media="(min-width: 736px)"
            >
            <source srcset="
            ./img/bodya-imgs/mobile/man1-mobile@x1.png, 
            ./img/bodya-imgs/mobile/man1-mobile@x2.png"
            media="(max-width: 375px)"
            >
            <img class="hero__img" src="./img/bodya-imgs/man1.png" alt="man1" class="hero__img">
        </picture>
    </li>
        <li class="hero__item">
            <picture>
                <source srcset="
                ./img/bodya-imgs/desktop/woman-desktop@x1.png, 
                ./img/bodya-imgs/desktop/woman-desktop@x2.png"
                media="(min-width: 1248px)"
                >
                <source srcset="
                ./img/bodya-imgs/tablet/woman-tablet@x1.png, 
                ./img/bodya-imgs/tablet/woman-tablet@x2.png"
                media="(min-width: 736px)"
                >
                <source srcset="
                ./img/bodya-imgs/mobile/woman-mobile@x1.png, 
                ./img/bodya-imgs/mobile/woman-mobile@x2.png"
                media="(max-width: 375px)"
                >
                <img class="hero__img" src="./img/bodya-imgs/woman.png" alt="woman" class="hero__img">
            </picture>
    </li>
    <li class="hero__item">
        <picture>
         <source srcset="
         ./img/bodya-imgs/desktop/man2-desktop@x1.png, 
         ./img/bodya-imgs/desktop/man2-desktop@x2.png"
         media="(min-width: 1248px)"
         >
         <source srcset="
         ./img/bodya-imgs/tablet/man2-tablet@x1.png, 
         ./img/bodya-imgs/tablet/man2-tablet@x2.png"
         media="(min-width: 736px)"
         >
         <source srcset="
         ./img/bodya-imgs/mobile/man2-mobile@x1.png, 
         ./img/bodya-imgs/mobile/man2-mobile@x2.png"
         media="(max-width: 375px)"
         >   
        <img class="hero__img" src="./img/bodya-imgs/man2.png" alt="man2" class="hero__img">
        </picture> 
    </li>
</ul>
<h2 class="hero__text-img">OUR CLIENTS</h2>
<div class="image__container">
    <picture>
         <source srcset="
         ./img/bodya-imgs/desktop/ceo-desktop@1x.webp, 
         ./img/bodya-imgs/desktop/ceo-desktop@2x.webp"
         media="(min-width: 1248px)"
         >
         <source srcset="
         ./img/bodya-imgs/tablet/ceo-tablet@1x.webp, 
         ./img/bodya-imgs/tablet/ceo-tablet@2x.webp"
         media="(min-width: 736px)"
         >
         <source srcset="
         ./img/bodya-imgs/mobile/ceo-mobile@1x.webp, 
         ./img/bodya-imgs/mobile/ceo-mobile@2x.webp"
         media="(max-width: 375px)"
         >
        <img class="hero__img-man" src="./img/bodya-imgs/ceo.jpg" alt="Man on yacht" class="hero__man-yacht">
    </picture>
    <picture>
        <source srcset="
        ./img/bodya-imgs/desktop/yaht-desktop@1x.webp, 
        ./img/bodya-imgs/desktop/yaht-desktop@2x.webp"
        media="(min-width: 1248px)"
        >
        <source srcset="
        ./img/bodya-imgs/tablet/yaht-tablet@1x.webp, 
        ./img/bodya-imgs/tablet/yaht-tablet@2x.webp"
        media="(min-width: 736px)"
        >
        <source srcset="
        ./img/bodya-imgs/mobile/yaht-mobile@1x.webp, 
        ./img/bodya-imgs/mobile/yaht-mobile@2x.webp"
        media="(max-width: 375px)"
        >
        <img class="hero__img-yaht" src="./img/bodya-imgs/yaht.png" alt="Yacht" class="hero__yacht">
    </picture>
</div>
<ul class="hero__price">
    <li class="hero__price-item">
        <h2 class="hero__price-title">$12M</h2>
    </li>
    <div class="hero__price-item">
        <p class="hero__price-text">Book now and make your dream yacht rental a reality</p>
    </div>
</div>
    </div>
</div> 
</section>