<section class="hero">
    <div class="container">
        <ul class="hero__items">
            <li class="hero__item">
                <h2 class="hero__title">Explore the High Seas with <span class="hero__span">Our Luxury Yacht</span>
                    Rentals</h2>
                <p class="hero__text">Experience the freedom and luxury of yachting on the open seas. Choose from our
                    top-of-the-line yachts and embark on an unforgettable journey surrounded by breathtaking views and
                    state-of-the-art amenities.</p>
                <ul class="hero__items-btn">
                    <li class="hero__item-btn">
                        <button class="hero__button">Get Started</button>
                    </li>
                    <li class="hero__item-btn">
                        <button class="hero__button">Explore</button>
                    </li>
                </ul>
            </li>
            <li class="hero__item">
                <ul class="hero__clients">
                    <li class="hero__client">
                        <picture>
                            <source srcset="./img/bodya-imgs/desktop/man1-desktop@x1.png, ./img/bodya-imgs/desktop/man1-desktop@x2.png" media="(min-width: 1248px)">
                            <source srcset="./img/bodya-imgs/tablet/man1-tablet@x1.png, ./img/bodya-imgs/tablet/man1-tablet@x2.png" media="(min-width: 728px)">
                            <source srcset="./img/bodya-imgs/mobile/man1-mobile@x1.png, ./img/bodya-imgs/mobile/man1-mobile@x2.png" media="(max-width: 727px)">
                            <img src="./img/bodya-imgs/man1.png" alt="man with black hair" class="hero__icon-client">
                        </picture>
                    </li>
                    <li class="hero__client">
                        <picture>
                            <source srcset="./img/bodya-imgs/desktop/woman-desktop@x1.png, ./img/bodya-imgs/desktop/woman-desktop@x2.png" media="(min-width: 1248px)">
                            <source srcset="./img/bodya-imgs/tablet/woman-tablet@x1.png, ./img/bodya-imgs/tablet/woman-tablet@x2.png" media="(min-width: 728px)">
                            <source srcset="./img/bodya-imgs/mobile/woman-mobile@x1.png, ./img/bodya-imgs/mobile/woman-mobile@x2.png" media="(max-width: 727px)">
                            <img src="./img/bodya-imgs/woman.png" alt="woman with black hair" class="hero__icon-client">
                        </picture>
                    </li>
                    <li class="hero__client">
                        <picture>
                            <source srcset="./img/bodya-imgs/desktop/man2-desktop@x1.png, ./img/bodya-imgs/desktop/man2-desktop@x2.png" media="(min-width: 1248px)">
                            <source srcset="./img/bodya-imgs/tablet/woman-tablet@x1.png, ./img/bodya-imgs/tablet/woman-tablet@x2.png" media="(min-width: 728px)" >
                            <source srcset="./img/bodya-imgs/mobile/woman-mobile@x1.png, ./img/bodya-imgs/mobile/woman-mobile@x2.png" media="(max-width: 727px)">
                            <img src="./img/bodya-imgs/woman.png" alt="man with orange hair" class="hero__icon-client">
                        </picture>
                    </li>
                </ul>
                <p class="hero__client-text">Our Clients</p>
                <picture>
                    <source srcset="./img/bodya-imgs/desktop/yaht-desktop@1x.webp, ./img/bodya-imgs/desktop/yaht-desktop@2x.webp" media="(min-width: 1248px)">
                    <source srcset="./img/bodya-imgs/tablet/yaht-tablet@1x.webp, ./img/bodya-imgs/tablet/yaht-tablet@2x.webp" media="(min-width: 728px)">
                    <source srcset="./img/bodya-imgs/mobile/yaht-mobile@1x.webp, ./img/bodya-imgs/mobile/yaht-mobile@2x.webp" media="(max-width: 727px)">
                    <img src="./img/bodya-imgs/yaht.png" alt="yacht" class="hero__img">
                </picture>
                <div class="hero__price">
                    <h2 class="hero__price-title">$12M</h2>
                    <p class="hero__price-text">Book now and make your dream yacht rental a reality</p>
                </div>
                <picture>
                    <source srcset="./img/bodya-imgs/desktop/ceo-desktop@1x.webp, ./img/bodya-imgs/desktop/ceo-desktop@2x.webp" media="(min-width: 1248px)">
                    <source srcset="./img/bodya-imgs/tablet/ceo-tablet@1x.webp, ./img/bodya-imgs/tablet/ceo-tablet@2x.webp" media="(min-width: 728px)">
                    <source srcset="./img/bodya-imgs/mobile/ceo-mobile@1x.webp, ./img/bodya-imgs/mobile/ceo-mobile@2x.webp" media="(max-width: 727px)">
                    <img src="./img/bodya-imgs/ceo.jpg" alt="man with glasses" class="hero__img-man">
                </picture>
            </li>
        </ul>
    </div>
</section>