<section class="offers">
  <div class="container box">
    <ul class="offers__list">
      <li class="offers__item">
        <div class="offers__box">
          <picture>
            <source
              srcset="
                ./img/yaroslav-imgs/desktop/diving-desktop@1x.webp,
                ./img/yaroslav-imgs/desktop/diving-desktop@2x.webp
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/yaroslav-imgs/tablet/diving-tablet@1x.webp,
                ./img/yaroslav-imgs/tablet/diving-tablet@2x.webp
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/yaroslav-imgs/mobile/diving-mobile@1x.webp,
                ./img/yaroslav-imgs/mobile/diving-mobile@2x.webp
              "
              media="(max-width: 375px)"
            />
            <img
              src="./img/yaroslav-imgs/diving.png"
              alt=""
              class="offers__diving"
            />
          </picture>
          <button class="offers__btn" type="button">Diving</button>
        </div>
      </li>
      <li class="offers__item">
        <div class="offers__box">
          <picture>
            <source
              srcset="
                ./img/yaroslav-imgs/desktop/fishing-desktop@1x.webp,
                ./img/yaroslav-imgs/desktop/fishing-desktop@2x.webp
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/yaroslav-imgs/tablet/fishing-tablet@1x.webp,
                ./img/yaroslav-imgs/tablet/fishing-tablet@2x.webp
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/yaroslav-imgs/mobile/fishing-mobile@1x.webp,
                ./img/yaroslav-imgs/mobile/fishing-mobile@2x.webp
              "
              media="(max-width: 375px)"
            />
            <img
              src="./img/yaroslav-imgs/fishing.png"
              alt="fishing"
              class="offers__fishing"
            />
          </picture>
          <button class="offers__btn" type="button">Fishing</button>
        </div>
      </li>
      <li class="offers__item">
        <div class="offers__box">
          <picture>
            <source
              srcset="
                ./img/yaroslav-imgs/desktop/sunbathing-desktop@1x.webp,
                ./img/yaroslav-imgs/desktop/sunbathing-desktop@2x.webp
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/yaroslav-imgs/tablet/sunbathing-tablet@1x.webp,
                ./img/yaroslav-imgs/tablet/sunbathing-tablet@2x.webp
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/yaroslav-imgs/mobile/sunbathing-mobile@1x.webp,
                ./img/yaroslav-imgs/mobile/sunbathing-mobile@2x.webp
              "
              media="(max-width: 375px)"
            />
            <img
              src="./img/yaroslav-imgs/sunbathing.png"
              alt="sunbathing"
              class="offers__sunbathing"
            />
          </picture>
          <button class="offers__btn" type="button">Sunbathing</button>
        </div>
      </li>
    </ul>
  </div>
</section>
