<section class="rent">
  <div class="container">
    <h1 class="rent__title">Rent a yacht now</h1>
    <img src="" alt="Yacht at sea" class="rent__img">

    <form class="rent__form">
      <ul class="rent__list">
        <li class="rent__item">
          <label for="name" class="rent__label">Full Name</label>
          <input type="text" class="rent__name" placeholder="Full Name" required>
        </li>
        <li class="rent__item">
          <label for="email" class="rent__label">Email</label>
          <input type="email"  class="rent__email" placeholder="Email" required>
        </li>
        <li class="rent__item">
          <label for="phone" class="rent__label">Phone number</label>
          <input type="tel" class="rent__number" placeholder="Phone number" required>
        </li>
        <li class="rent__item">
          <label for="comment" class="rent__label">Comment</label>
          <input type="text" class="rent__comment" placeholder="Comment">
        </li>
      </ul>
      <button type="submit" class="rent__btn" data-modal-open>
        <svg class="rent__icon">
          <use href=""></use>
        </svg>
        Send
      </button>
    </form>

    <div class="backdrop is-hidden" data-modal>
      <div class="modal">
        <button type="button" class="modal__btn" data-modal-close>
          <svg class="modal__close">
            <use href=""></use>
          </svg>
        </button>
        <img src="" alt="White yacht" class="modal__img">
        <h2 class="modal__title">Thank you</h2>
        <p class="modal__text">
          Thank you for choosing Yacht Adventures. Your booking details have been received, and our team will be in touch shortly to confirm your reservation and provide any additional information or assistance you may need.
        </p>
      </div>
    </div>
  </div>
</section>