<section class="rent">
  <div class="container">
    <div class="rent__div">
    <h1 class="rent__title">Rent a yacht now</h1>
    <picture>
      <source srcset="../img/yacht-advent/desktop/yahtsailingyacht-desktop@1x.webp 1x, ../img/yacht-advent/desktop/yahtsailingyacht-desktop@2x.webp 2x" media="(min-width: 1200px)">
      <source srcset="../img/yacht-advent/tablet/yahtsailingyacht-tablet@1x.webp 1x, ../img/yacht-advent/tablet/yahtsailingyacht-tablet@2x.webp 2x" media="(min-width: 768px)">
      <source srcset="../img/yacht-advent/mobile/yahtsailingyacht-mobile@1x.webp 1x, ../img/yacht-advent/mobile/yahtsailingyacht-mobile@2x.webp 2x" media="(max-width: 767px)">
    <img src="../img/yacht-advent/sailing-yacht.png" alt="Yacht at sea" class="rent__img">
  </picture>
</div>
<form class="rent__form">
    <ul class="rent__list">
      <li class="rent__item">
        <input type="text" class="rent__input" placeholder="Full Name">
      </li>
      <li class="rent__item">
        <input type="email" class="rent__input" placeholder="Email">
      </li>
      <li class="rent__item">
        <input type="tel" class="rent__input" placeholder="Phone number">
      </li>
      <li class="rent__item">
        <textarea  class="rent__input" placeholder="Comment"></textarea>
      </li>
    </ul>
  </form>
    <button type="submit" class="rent__btn" data-modal-open>
      <svg class="rent__icon">
        <use href=""></use>
      </svg>
      Send
    </button>
  


    <div class="backdrop is-hidden" data-modal>
      <div class="rent__modal">
        <button type="button" class="modal__btn" data-modal-close>
          <svg class="modal__close">
            <use href=""></use>
          </svg>
        </button>
        <img src="" alt="White yacht" class="modal__img">
        <h2 class="modal__title">Thank you</h2>
        <p class="modal__text">
          Thank you for choosing Yacht Adventures. Your booking details have been received, and our team will be in touch shortly to confirm your reservation and provide any additional information or assistance you may need.
        </p>
      </div>
    </div>
  </div>
</section>

