<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
      integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section class="rent">
        <div class="container">
    <h1 class="rent__title">Rent a yacht now</h1>
    <img src="" alt="" class="rent__img">
    <ul class="rent__list">
        <li class="rent__item">
            <input type="text" class="rent__input" placeholder="Full Name">
        </li>
        <li class="rent__item">
            <input type="text" class="rent__input" placeholder="Email">
        </li>
        <li class="rent__item">
            <input type="text" class="rent__input" placeholder="Phone number">
        </li>
        <li class="rent__item">
            <input type="text" class="rent__input" placeholder="Comment">
        </li>
    </ul>
    <a href="" class="rent__link">Send
        <svg class="rent__icon">
          <use href=""></use>
        </svg>
      </a>
</div>
</section>
</body>
</html>